<b>Multiclass classification using Deep Neural Networks:</b> <br>Example: Use the OCR letter 
recognition dataset

In [5]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import time
import tkinter as tk
from tkinter import messagebox

In [6]:
col = ['letter']+[f"feature_{i}" for i in range(16)]
df = pd.read_csv('input/letter-recognition.data', names=col)
df

,letter,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [10]:
label_encoder = LabelEncoder()
df['letter'] = label_encoder.fit_transform(df['letter'])
X = df.drop(['letter'], axis=1)
y = df['letter']

In [11]:
X

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,target
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,19
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,8
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,3
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,13
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,3
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,2
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,19
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,18
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,0

In [12]:
y

0        19
1         8
2         3
3        13
4         6
         ..
19995     3
19996     2
19997    19
19998    18
19999     0
Name: letter, Length: 20000, dtype: int32

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
def create_dnn_model():
    model = Sequential()
    model.add(Dense(128, activation='relu', input_shape=(X_train.shape[1],)))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(26, activation='softmax'))  # 26 output neurons for 26 letter classes
    model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

SCC - produce category index for Most likely category

In [ ]:
start_time = time.time()
model = create_dnn_model()
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=2)  # Train silently
train_time = time.time() - start_time
train_time

Epoch 1/50
500/500 - 5s - loss: 1.2098 - accuracy: 0.6706 - 5s/epoch - 9ms/step
Epoch 2/50
500/500 - 2s - loss: 0.3546 - accuracy: 0.9031 - 2s/epoch - 4ms/step
Epoch 3/50
500/500 - 2s - loss: 0.2523 - accuracy: 0.9247 - 2s/epoch - 4ms/step
Epoch 4/50
500/500 - 2s - loss: 0.2030 - accuracy: 0.9362 - 2s/epoch - 4ms/step
Epoch 5/50
500/500 - 2s - loss: 0.1700 - accuracy: 0.9474 - 2s/epoch - 4ms/step
Epoch 6/50
500/500 - 2s - loss: 0.1454 - accuracy: 0.9524 - 2s/epoch - 4ms/step
Epoch 7/50
500/500 - 2s - loss: 0.1342 - accuracy: 0.9570 - 2s/epoch - 3ms/step
Epoch 8/50
500/500 - 2s - loss: 0.1124 - accuracy: 0.9646 - 2s/epoch - 3ms/step
Epoch 9/50
500/500 - 2s - loss: 0.1101 - accuracy: 0.9630 - 2s/epoch - 3ms/step
Epoch 10/50
500/500 - 2s - loss: 0.0959 - accuracy: 0.9679 - 2s/epoch - 4ms/step
Epoch 11/50
500/500 - 2s - loss: 0.0915 - accuracy: 0.9700 - 2s/epoch - 3ms/step
Epoch 12/50
500/500 - 2s - loss: 0.0806 - accuracy: 0.9735 - 2s/epoch - 4ms/step
Epoch 13/50
500/500 - 2s - loss: 0.0729 - accuracy: 0.9760 - 2s/epoch - 4ms/step
Epoch 14/50

In [12]:
model_name = 'model_2.1_MultiClass_OCR'

In [ ]:
model.save(model_name)

In [13]:
model = load_model(model_name)

In [14]:
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print(f"Test loss: {loss:.4f}, Test accuracy: {accuracy:.4f}")

Test loss: 0.1952, Test accuracy: 0.9388

In [15]:
alphabet_dict = {i: chr(i + 65) for i in range(26)}

In [16]:
def classify_new_input(new_input):
    # Convert new input to numpy array and reshape it
    new_input = np.array(new_input).reshape(1, -1)
    # Make prediction using the trained model
    start_time = time.time()
    prediction = model.predict(new_input)
    end_time = time.time()
    pred_time = end_time - start_time
    print(f"Prediction Time : {pred_time}")
    # Inverse transform the predicted label to get the class
    predicted_class = label_encoder.inverse_transform([np.argmax(prediction)])
    return predicted_class[0]

def predict_class():
    # Get user input from entry fields
    try:
        input_values = [int(entry.get()) for entry in entry_fields]
        predicted_class = classify_new_input(input_values)
        messagebox.showinfo("Prediction", f"Predicted class: {predicted_class}")
    except ValueError:
        messagebox.showerror("Error", "Please enter valid integer values.")

In [ ]:
root = tk.Tk()
root.title("Letter Recognition Predictor")

entry_fields = []
for i in range(16):
    label = tk.Label(root, text=f"Input {i+1}:")
    label.grid(row=i, column=0, padx=10, pady=5)
    entry = tk.Entry(root)
    entry.grid(row=i, column=1, padx=10, pady=5)
    entry_fields.append(entry)

# Create predict button
predict_button = tk.Button(root, text="Predict", command=predict_class)
predict_button.grid(row=16, column=0, columnspan=2, pady=10)

# print(f"Training time: {train_time:.2f} seconds")

root.mainloop()

1/1 [==============================] - 0s 269ms/step
Prediction Time : 0.4200282096862793